@namespace GraphRag.Net.Web.Pages
@page "/"

<h3>GraphRag.Net is a platform where you can quickly import text and documents to create GraphRag examples for testing and exploration.</h3>
<h3>You can also integrate GraphRag.Net into your own project for use.</h3>
<h3></h3>
@code {

}